.header-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background-color: grey;
}
.title-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
}
.h1-title {
    margin: 0;
}
.logo {
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
}
nav {
    display: flex;
    width: 120px;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.active {
    text-decoration: underline;
    color: black;
}