.h2-cont {
    font-size: 18px;
    background-color: black;
    padding: 20px 30px;
    color: white;
}

.planets-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    align-items: center;
    justify-content: center;
}