<app-header></app-header>
<main>
    <div class="h2-cont">
        <h2>Les planètes</h2>
    </div>
    <div class="planets-container">
        <div class="planet-container">
            <h3 class="planet-title">Mercure</h3>
            <img class="planet-pic" src="../../assets/mercury_new.png"/>
        </div>
        <div class="planet-container">
            <h3 class="planet-title">Venus</h3>
            <img class="planet-pic" src="../../assets/venus_jg.png"/>
        </div>
        <div class="planet-container">
            <h3 class="planet-title">Terre</h3>
            <img class="planet-pic" src="../../assets/earth.png"/>
        </div>
        <div class="planet-container">
            <h3 class="planet-title">Mars</h3>
            <img class="planet-pic" src="../../assets/mars.png"/>
        </div>
        <div class="planet-container">
            <h3 class="planet-title">Jupiter</h3>
            <img class="planet-pic" src="../../assets/jupiter_new.png"/>
        </div>
        <div class="planet-container">
            <h3 class="planet-title">Saturne</h3>
            <img class="planet-pic" src="../../assets/saturn.png"/>
        </div>
        <div class="planet-container">
            <h3 class="planet-title">Uranus</h3>
            <img class="planet-pic" src="../../assets/uranus.png"/>
        </div>
        <div class="planet-container">
            <h3 class="planet-title">Neptune</h3>
            <img class="planet-pic" src="../../assets/neptune.png"/>
        </div>
    </div>
</main>
