.planet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
}
.planet-card img {
    height: 300px;
}
h2 {
    color: white;
}
